<h1>Add a new artist</h1>

<form action="/artists" method="post">
  <div class="form-group">
    <label for="artist_name">Artist</label>
    <input name="artist_name" class="form-control" type="text">
  </div>
  <button type="submit" class="btn btn-primary">Go!</button>
</form>
